<div class="container-fluid">
	<div class="row">
	    <!--Nav Bar -->
	    <nav class="col-md-3 bs-docs-sidebar">
	        <ul id="sidebar" class="nav nav-stacked fixed">
	            <li>
	                <a>
	                	<div class="glyphicon glyphicon-user"></div>
	                </a>	                
	            </li>
	            <li>
	                <a>
	                	<div class="glyphicon glyphicon-lock"></div>
	                </a>	                
	            </li>
	            <li>
	                <a>
	                	<div class="glyphicon glyphicon-remove"></div>
	                </a>	                
	            </li>
	        </ul>
	    </nav>
	    <!--Main Content -->
	    <div class="col-xs-9">
	        <section id="contenet-nav" class="group"></section>
	    </div>
	</div>	
</div>





<!--div class="container">
	<h2>Información de Usuario</h2>
	<ul>
		<li><%= user.name %></li>
		<li><%= user.username %></li>
		<li><%= user.email %></li>
	</ul>
	<form action="/user/edit/<%= user.id %>" method="POST">
		<button type="submit" class="btn btn-success">Editar</button>
	</form>
</div-->