<form action="/user/create" method="POST" class="form-singin">
	<div class="form-group">
		<legend>Crear Cuenta</legend>
	</div>		

	<% if (flash && flash.err) { %>
		<ul class="alert alert-warning">
		<% Object.keys(flash.err).forEach(function (error) { %>				
			<li><%- JSON.stringify(flash.err[error]) %></li>
		<% }); %>		
		</ul>
	<% } %>		
	<input type="text" class="form-control" name="name" placeholder="Nombre Completo">
	<input type="text" class="form-control" name="last_name" placeholder="Apellidos">
	<input type="text" class="form-control" name="username" placeholder="Nombre de usuario">
	<input type="text" class="form-control" name="email" placeholder="E-mail">
	<input type="password" class="form-control" id="password" name="password" placeholder="Password">
	<input type="password" class="form-control" name="confirmation" placeholder="Confirmar Password">

	
	
	<button type="submit" class="btn btn-primary btn-block btn-xs">Crear Cuenta</button>
	<input type="hidden" name="_csrf" value="<%= _csrf %>">		
</form>