<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<!--Si un usuario es autentificado, mostrar el nombre completo del usuario, de no ser asi-->	
	<h2>Hola <%= userFullName %></h2>		

	<script src="/lib/angular/angular.js"></script>
	<script src="/application.js"></script>
</body>
</html>